//_font.scss
$font-family-en: "Fira Sans", sans-serif;
$font-family-jp: "Noto Sans JP", sans-serif;

$font-size-14px: 1.4rem;
$font-size-16px: 1.6rem;
$font-size-20px: 2rem;
$font-size-24px: 2.4rem;
$font-size-32px: 3.2rem;
$font-size-40px: 4rem;
$font-size-52px: 5.2rem;
$font-size-60px: 6rem;
$font-size-100px: 10rem;

$line-height-base: 1.71429;
